[submodule "src/leetcode/leetcode_java"]
	path = src/leetcode/leetcode_java
	url = https://github.com/nyguerrillagirl/leetcode_java.git
[submodule "src/leetcode/leetcode_python"]
	path = src/leetcode/leetcode_python
	url = https://github.com/nyguerrillagirl/leetcode_python.git
[submodule "src/html_projects/outrun"]
	path = src/html_projects/outrun
	url = https://github.com/nyguerrillagirl/outrun.git
[submodule "src/java_projects/fang"]
	path = src/java_projects/fang
	url = https://github.com/nyguerrillagirl/fang
[submodule "src/udemy_courses/sfg-thymeleaf-course"]
	path = src/udemy_courses/sfg-thymeleaf-course
	url = https://github.com/nyguerrillagirl/sfg-thymeleaf-course
