/* remove these styles */
.primary {
    text-align: center;
    font-size: 1.5rem;
    background-color: #32a852;
    color: white;
    margin-bottom: 1rem;
}

.secondary {
    text-align: center;
    font-size: 1.5rem;
    background-color: #f0f8e7;
    margin-bottom: 1rem;
}

.accent {
    text-align: center;
    font-size: 1.5rem;
    background-color: #0f4d2e;
    color: white;
    margin-bottom: 1rem;
}