/* remove these styles */
.primary {
    text-align: center;
    font-size: 1.5rem;
    background-color: #2196f3;
    margin-bottom: 1rem;
}

.secondary {
    text-align: center;
    font-size: 1.5rem;
    background-color: #8bc34a;
    margin-bottom: 1rem;
}

.accent {
    text-align: center;
    font-size: 1.5rem;
    background-color: #ffffff;
    margin-bottom: 1rem;
}